:root {
  --brand-color: #212121;
  --brand2-color: #2196f3;
  --brand3-color: #ffffff;
  --brand4-color: #757575;
  --brand5-color: #2f303a;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  color: var(--brand-color);
  list-style-type: none;
}
header{
  border-bottom: 1px solid #ececec;
  margin-top: 20px;
}
li {
  list-style-type: none;
}
section{
  padding-top: 94px;
  padding-bottom: 94px;
}
.logo {
    width: 145px;
    /* height: 31px;
    left: 215px;
    top: 24px; */
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: var(--brand2-color);
  text-decoration: none;
  margin-right: 20px;
}
.links{
  display: inline-flex;
}
.link1 {
  /* position: absolute; */
  width: 49px;
  /* height: 16px;
  left: 453px;
  top: 32px;  */
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--brand-color);
  text-decoration: none;
  margin-right: 20px;
}
.link2 {
  /* position: absolute; */
  width: 65px;
  /* height: 16px;
  left: 552px;
  top: 32px; */
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--brand-color);
  text-decoration: none;
  margin-right: 20px;
}
.link3 {
  /* position: absolute; */
  width: 59px;
  /* height: 16px;
  left: 679px;
  top: 32px; */
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--brand-color);
  text-decoration: none;
  margin-right: 400px;
}
.link1:hover,
.link2:hover,
.link3:hover,
.contact1:hover,
.contact2:hover,
.contact3:hover{
  color: var(--brand2-color);
}
.link1:focus,
.link2:focus,
.link3:focus,
.contact1:focus,
.contact2:focus,
.contact3:focus {
  color: var(--brand2-color);
}
.buttons:hover,
.button1:hover {
  background-color: var(--brand2-color);
  color: var(--brand3-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.link1.active,
.link2.active,
.link3.active,
.button1:active,
.contact:active {
  color: var(--brand2-color);
}
.buttons:focus {
  background-color: var(--brand2-color);
  color: var(--brand3-color);
}
.contact1{
  /* position: absolute; */
  width: 135px;
  /* height: 16px;
  left: 980px;
  top: 32px; */
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--brand4-color);
  list-style: none;
  text-decoration: none;
  margin-right: 10px;
}
.contact2 {
  /* position: absolute; */
  width: 118px;
  /* height: 16px;
  left: 1120px;
  top: 32px; */
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--brand4-color);
  list-style: none;
  text-decoration: none;
}
.contact3 {
  width: 231px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.title1 {
  width: 696px;
  /* height: 120px; */
  /* left: 448px;
  top: 280px; */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  /* or 136% */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--brand3-color);
}
.services{
  justify-content: center;
  margin-left: 10px;
}
.button1 {
  width: 261px;
  height: 50px;
    left: 666px;
    top: 430px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  background: var(--brand2-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--brand3-color);
}

.buttons {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--brand-color);
  cursor: pointer;
  margin: 8px;
  padding: 6px 6px;
}

.text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--brand4-color);
  margin-left: 1px;
}

.title2 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 2.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--brand-color);
  margin-left: 40px;
}

.title3 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--brand-color);
}
.bgcolor{
  background-color: #F5F4FA;
}
.subtitles {
  display: flex;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--brand-color);
}

.carge {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--brand4-color);
}

.piepage {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--brand3-color);
}
.container {
  padding: 15 15px;
  width: 1200px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
.team-container,
.buttons-container {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.proyects-container {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  justify-content: center;
}
.proyects-card {
  width: 370px;
  height: 404px;
  background: var(--brand3-color);
  border: 1px solid #eeeeee;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  margin-right: 10px;
  margin-bottom: 10px;
}
.top{
  display: flex;
  width: 100%;
  height: 600px;
  left: -4px;
  top: 80px;
  background: var(--brand5-color);
  align-items: center;
  background-image: linear-gradient(to top,rgba(47, 48, 58, 0.400), rgba(196, 196, 196, 0.4)),
    url("../images/bgimage.jpg");
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
}
.top2 {
  width: 100%;
  background: var(--brand3-color);
  text-align: center;
}
.top1 {
  padding-top: 15px;
  width: 100%;
  height: 252px;
  background: var(--brand5-color);
}
.address1 {
  width: 231px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: var(--brand3-color);
}